@import "tailwindcss";

@layer components {
  @theme {
    --font-inter: "Gal", sans-serif;
  }

  .navbar {
    @apply fixed top-0 w-full bg-neutral-800 h-19 px-6 border-b-2 border-neutral-700 z-40 backdrop-blur-lg shadow-lg;
  }

  body {
    font-family: "DM Sans", sans-serif;
  }

  .link {
    @apply text-gray-300 py-6;
    display: inline-block;
    position: relative;
  }

  .link::after,
  .link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    background: linear-gradient(to right, oklch(78.5% 0.115 274.713));
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-out;
  }

  .link:hover::after,
  .link:hover::before {
    transform: scaleX(1);
  }

  .link:hover {
    @apply text-white;
  }
}
