@import "tailwindcss";

@layer components {
  .navbar {
    @apply w-full bg-neutral-800 h-19 flex items-center justify-between px-6 border-b-2 border-neutral-700
  }

  body {
    font-family: "DM Sans", sans-serif;
  }

  .link {
    @apply text-gray-300 py-6;
    display: inline-block;
    position: relative;
  }

  .link::after,
  .link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    background: linear-gradient(to right, white);
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-out;
  }

  .link:hover::after,
  .link:hover::before {
    transform: scaleX(1);
  }

  .link:hover {
    @apply text-white;
  }
}
